.NavBarCategory {
	color: white;
	text-decoration: none;
	margin: 0 20px;
}

.NavBarCategory:hover {
	text-decoration: underline;
	cursor: default;
}

/*tablet and desktop*/
@media (min-width:768px) {
	.NavBarCategory {
		font-size: 20px;
	}
}