.NavBarCategory {
	margin: 0 20px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.NavBarCategory:hover {
	text-decoration: underline;
	cursor: default;
}